.new-product {
    padding-left: 50px;
    padding-right: 50px;
    h3 {
        font-family: 'Langar', cursive;
        border-bottom: 1px solid #999;
        padding-bottom: 10px;
        margin-bottom: 50px;
    }
}
.logo{
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    .logo .seria {
        margin-top: 10px;
    }
}
.aHeaad {
    margin-top: 50px;
}
// .image-gallery {
//     width: 40%;
//     height: auto;
// }

// .image-gallery-slide img {
//     width: 100%;
//     height: auto;
//     max-height: 80vh;
//     object-fit: cover;
//     overflow: hidden;
//     object-position: center center;
// }

// .fullscreen .image-gallery-slide img {
//     max-height: 100vh;
// }